@import './base.css';
#app {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f00005;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #f0000520;
  }
}
